# Adam Ahtesham

## Research question/interests

Briefly describe your research question or interests here.

Analyzing the impact that assets of a company has on revenues and profits

In [ ]:
import pandas as pd
import numpy as np
url = "../data/raw/Fortune 1000 Companies by Revenue.csv"
df = pd.read_csv(url)

In [ ]:
df.info()
df.head()
df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rank                    1000 non-null   object
 1   name                    1000 non-null   object
 2   revenues                1000 non-null   object
 3   revenue_percent_change  1000 non-null   object
 4   profits                 1000 non-null   object
 5   profits_percent_change  1000 non-null   object
 6   assets                  1000 non-null   object
 7   market_value            1000 non-null   object
 8   change_in_rank          1000 non-null   object
 9   employees               1000 non-null   object
dtypes: object(10)
memory usage: 78.2+ KB

                       count unique       top freq
rank                    1000    997       466    2
name                    1000   1000   Walmart    1
revenues                1000    993   $7,156     2
revenue_percent_change  1000    556         -    8
profits                 1000    965         -    3
profits_percent_change  1000    641         -  273
assets                  1000    997  $13,223     2
market_value            1000    956         -   45
change_in_rank          1000    276         -   80
employees               1000    763    14,000    8

In [ ]:
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv(url)
df['revenues'] = df['revenues'].str.replace(',', '').str.replace('$', '').astype(float)
df['profits'] = df['profits'].replace('-', np.nan)
df['profits'] = df['profits'].str.replace('(', '').str.replace(')', '')
df['profits'] = df['profits'].str.replace(',', '').str.replace('$', '').astype(float)
df['assets'] = df['assets'].str.replace(',', '').str.replace('$', '').astype(float)
df['market_value'] = df['market_value'].replace('-', np.nan)
df['market_value'] = df['market_value'].str.replace(',', '').str.replace('$', '').astype(float)
df['employees'] = df['employees'].replace('-', np.nan)
df['employees'] = df['employees'].str.replace(',', '').astype(float)
df['revenue_percent_change'] = df['revenue_percent_change'].replace('-', np.nan)
df['revenue_percent_change'] = df['revenue_percent_change'].str.replace('%', '').astype(float)
df['profits_percent_change'] = df['profits_percent_change'].replace('-', np.nan)
df['profits_percent_change'] = df['profits_percent_change'].str.replace('%', '').astype(float)
df['change_in_rank'] = df['change_in_rank'].replace('-', np.nan)

df = df.dropna(subset=['revenues', 'revenue_percent_change', 'profits','profits_percent_change', 'assets', 'market_value', 'employees'])
df

,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,employees
count,688.000000,688.000000,688.000000,688.000000,6.880000e+02,6.880000e+02,6.880000e+02
mean,19431.373401,20.961047,2626.288081,338.974855,7.004708e+04,5.477251e+04,4.094729e+04
std,44721.783523,34.522314,7436.514037,2831.654260,3.110447e+05,1.869759e+05,1.230879e+05
min,2112.800000,-39.900000,12.500000,-989.100000,4.138000e+02,3.719000e+02,3.470000e+02
25%,3732.375000,6.375000,367.775000,10.175000,4.936175e+03,5.379650e+03,7.207250e+03
50%,6811.800000,14.850000,783.000000,41.250000,1.252010e+04,1.578655e+04,1.411850e+04
75%,15760.250000,25.625000,1916.075000,116.875000,3.465050e+04,4.094462e+04,3.100000e+04
max,572754.000000,513.700000,94680.000000,49978.900000,4.229166e+06,2.849538e+06,2.300000e+06

In [ ]:
import project_functions3
df =  project_functions3.load_and_process(url)
df.describe(

,rank,name,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,change_in_rank,employees,revenue_over_profit,market_over_asset
0,1,Walmart,572754,2.40,13673,1.20,244860,409795,NaN,2300000,41.889417,1.673589
1,2,Amazon,469822,21.70,33364,56.40,420549,1658807.30,NaN,1608000,14.081705,3.944385
2,3,Apple,365817,33.30,94680,64.90,351002,2849537.60,NaN,154000,3.863720,8.118294
3,4,CVS Health,292111,8.70,7910,10.20,232999,132839.20,NaN,258000,36.929330,0.570128
4,5,UnitedHealth Group,287597,11.80,17285,12.20,212206,479830.30,NaN,350000,16.638531,2.261153
...,...,...,...,...,...,...,...,...,...,...,...,...
991,992,Beazer Homes USA,2140.30,0.60,122,133.60,2078.80,478.80,-61,1052,17.543443,0.230325
992,993,Chemed,2139.30,2.90,268.60,-15.90,1342.70,7592.50,-49,14137,7.964631,5.654651
995,996,Vizio Holding,2124,4,39.40,-138.40,935.80,1705.10,NaN,800,53.908629,1.822077
996,997,1-800-Flowers.com,2122.20,42.50,118.70,101.10,1076.70,830,NaN,4800,17.878686,0.770874
997,998,Cowen,2112.80,30.20,295.60,36.60,8748.80,744.10,NaN,1534,7.147497,0.085052

,revenues,revenue_percent_change,profits,profits_percent_change,assets,market_value,employees
count,688.000000,688.000000,688.000000,688.000000,6.880000e+02,6.880000e+02,6.880000e+02
mean,19431.373401,20.961047,2626.288081,338.974855,7.004708e+04,5.477251e+04,4.094729e+04
std,44721.783523,34.522314,7436.514037,2831.654260,3.110447e+05,1.869759e+05,1.230879e+05
min,2112.800000,-39.900000,12.500000,-989.100000,4.138000e+02,3.719000e+02,3.470000e+02
25%,3732.375000,6.375000,367.775000,10.175000,4.936175e+03,5.379650e+03,7.207250e+03
50%,6811.800000,14.850000,783.000000,41.250000,1.252010e+04,1.578655e+04,1.411850e+04
75%,15760.250000,25.625000,1916.075000,116.875000,3.465050e+04,4.094462e+04,3.100000e+04
max,572754.000000,513.700000,94680.000000,49978.900000,4.229166e+06,2.849538e+06,2.300000e+06